appdirs==1.4.3
astroid==2.1.0
atomicwrites==1.3.0
attrs==18.2.0
beautifulsoup4==4.6.3
black==19.3b0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==3.6
cycler==0.10.0
decorator==4.0.11
dj-database-url==0.5.0
Django==2.0.9
django-addanother==2.0.0
django-auto-one-to-one==3.1.1
django-filter==2.1.0
django-filters==0.2.1
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.9.1
django-selenium-login==1.0.2
django-stronghold==0.3.0
django-templated-mail==1.1.1
djangorestframework==3.9.1
djoser==1.5.1
drf-writable-nested==0.5.1
future==0.17.1
geocoder==1.38.1
geographiclib==1.49
geopy==1.18.1
get==1.0.3
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
imageio==2.1.2
InstagramAPI==1.0.2
isort==4.3.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.2.5
matplotlib==3.0.0
mccabe==0.6.1
more-itertools==5.0.0
moviepy==0.2.3.2
numpy==1.15.2
opencv-python==4.0.0.21
pandas==0.23.4
pep8==1.7.1
Pillow==5.4.0
pluggy==0.8.1
post==1.0.2
psycopg2==2.8.2
public==1.0.3
py==1.7.0
PyAutoGUI==0.9.41
pycountry==18.12.8
pygame==1.9.4
PyGetWindow==0.0.4
pylint==2.2.2
pylint-django==2.0.5
pylint-plugin-utils==0.4
PyMsgBox==1.0.6
pyparsing==2.2.2
pyperclip==1.6.4
PyRect==0.1.4
PyScreeze==0.1.19
pytest==4.2.0
python-dateutil==2.7.3
PyTweening==1.0.3
pytz==2018.5
query-string==1.0.2
ratelim==0.1.6
request==1.0.2
requests==2.20.0
requests-toolbelt==0.7.0
robotframework==3.1.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.3.1
scipy==1.1.0
seaborn==0.9.0
selenium==3.141.0
six==1.11.0
toml==0.10.0
tqdm==4.11.2
urllib3==1.23
virtualenv==16.1.0
webdrivermanager==0.7.4
webencodings==0.5.1
whitenoise==4.1.2
wrapt==1.11.1
